body {
    background: url("/public/images/Forge.jpg") center center;
    background-size: cover;
}

#Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.zammad-chat-is-shown {
    max-height: calc(100% - 4em)
}

h1 {
    margin: 5%;
}

#Buttons button {
<<<<<<< HEAD
    font-size: xx-large;
=======
    background-color: white;
    color: #dc3545;
    border: 2px solid #dc3545;
    padding: 7px 16px;
    border-radius: 8px;
}

#Buttons button:hover {
    color: white;
    background-color: #dc3545;
>>>>>>> 4ad6adbd8bd5f52088d08af323a335cf234ea5be
}