body {
    background: url("/public/images/Forge.jpg") center center;
    background-size: cover;
}

#Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.zammad-chat-is-shown {
    max-height: calc(100% - 4em)
}

h1 {
    margin: 5%;
}

#Buttons button {
    font-size: xx-large;
}